### Export Checklist:

- Make sure all rows have index

**More ideas:**

- What is the housing price/rent price trend?
- What does this trend look like with plotted against inflation?
- What about comparing home affordability with the world?
- Also comparying salary compensations for different jobs around the world?

- Which size home price and what cities stayed more steady


- Which states' housing price stayed relatively steady vs the opposite? (Hannah)
- Comparing housing price with stock data. (Mini)

### Misc Data

- May 2018 National Occupational Employment and Wage Estimates United States (For over 800 occupations)
https://www.bls.gov/oes/current/oes_nat.htm

- Modeled Wage Estimates (MWE) - provide annual estimates of average hourly wages for occupations by selected job characteristics and within geographical location (only for 2014-2017):
https://www.bls.gov/mwe/#data

- Wage data by state or by cities (for 1 year):
https://www.bls.gov/oes/current/oessrcst.htm

- Wage data by characteristics:
https://www.bls.gov/mwe/

- Wage data by metropolitan area (employment vs unemployment):
https://www.bls.gov/oes/current/oessrcma.htm
- (Archives from 1998)
https://www.bls.gov/bls/news-release/metro.htm




- Zillow Home price
https://www.zillow.com/research/data/

### KUSI annual salary needed to afford a house in 50 largest us cities / USA today Most and least affordable zipcode

- Suggestions from Mateo
- What about using Zillow data to come up with some meaningul metrics? You can use their API
- There's tons of data about housing. One thing that's not out there yet is the average rental price and how it compared to average home price
- Housing is one area people care about alot. Another is advertising in relation to demographics
- Interested in affordability in any given city, given the price of rent or average 30 year mortgage payment
- If I make 70K/year, can I accord to rent/buy in city x?
- Can I afford to rent one bed, two bed, how about buy?

https://www.kusi.com/study-finds-annual-salary-needed-to-afford-a-house-in-50-largest-u-s-cities/
- people want this kind of data so badly that it breaks news
- If you're able to do this better, you'll get hired on the spot

https://www.yahoo.com/finance/news/homes-sale-most-affordable-zip-091918341.html

**Census Bureau Housing Vacancies and Homeownership Data**
https://www.census.gov/housing/hvs/data/index.html

**US Bureau of Labor Statistics**
Employment Situation Summary Report

### KUSI Is it better to rent or buy in todays housing market

https://www.cnbc.com/2018/09/05/its-better-to-rent-than-to-buy-in-todays-housing-market.html

- “Today only 41 percent of people live in a county where the median-income family can afford to buy a home at the median list price, and affordability declined significantly over the past year.”

- Home values finally bottomed out in 2012 and then began to take off. In the last three years, the gains accelerated dramatically, and now homes in most of the nation are worth more than they were at the inflated peak of the housing boom in 2006.

- “Housing is an early cycle sector. Interest rates are low, incomes start to grow, so in an early cycle environment you can buy, but in a later cycle, interest rates go up, home prices go up, it’s harder to buy.”

- According to July home and rent prices, buying a home was cheaper than renting in just 35 percent of the nation’s counties. That is down sharply from 44 percent just one year ago.

- In 16 of the 23 major metropolitan markets covered in the research, renting is a better investment than buying. These cities include Atlanta, Dallas, Denver, Houston, Los Angeles, Miami, San Francisco and Seattle. It is still, however, better to buy than rent in much of the Midwest and Northeast, with Chicago and Cleveland showing the best ownership scores.

### Zillow House Affordability Calculator

Zillow House Affordability Calculator
- Annual income
- Monthly debts
- Down payment
- Debt-to-income (DTI) (%)
- Typically, DTI should be 36% or lower to qualify for mortgage. Certain loans allow for higher DTIs, such as FHA loans (43%), VA or USDA loans (41%)
- Interest rate (%)
- Loan term (months)
- Property tax (%)
- Home insurance (/year)
- HOA dues (/month)

### Notes

- Combined the city and state column in zillow_years:
- zillow_years contains just individual years and City_State columns is right before '1996'

### Setting Up Zillow City Data

In [175]:
#This format is easer to look at changes in year for a specific city
import pandas as pd

zillow = pd.read_csv('City_Zhvi_AllHomes.csv', encoding="Latin-1")

zillow['RegionName'] = zillow['RegionName'].str.title()
zillow['RegionName'] = zillow['RegionName'].str.strip()
zillow['RegionName'] = zillow['RegionName'].str.replace(' City', '')
zillow['RegionName'] = zillow['RegionName'].str.replace(' Village', '')
zillow['State'] = zillow['State'].str.strip()

#getting a list of uniques years for creating new columns later when condensing the dataframe
year_list = (zillow.columns[6:].values.tolist())
years = []
for i in year_list:
    #[0:4] to remove the months following the years ex. '2018-04'
    y = i[0:4]
    if y not in years:
        years.append(y)
        


#Condensing the data into years
zillow_years = zillow.copy()
zillow_years = zillow_years.iloc[:, :6]
zillow_years['City_State'] = zillow_years['RegionName'] + ', ' + zillow_years['State']
# 1996-06 - 1996-12
zillow_years['1996'] = zillow.loc[:,"1996-06":"1997-01"].mean(axis=1)
#for years 1997-2018 can use foreloop
for i in range(1997,2019):
    zillow_years[str(i)] = zillow.loc[:, str(i) + '-01': str(i+1) + '-01'].mean(axis=1)
#post 2019-01 - 
zillow_years['2019'] = zillow.loc[:,"2019-01":"2019-04"].mean(axis=1)

### 50 most expensive US cities in 1996, and where they are now

In [176]:
#This format is easer to look at changes in year for a specific city
import pandas as pd

#Setting up
fiftychange = zillow_years.copy()

fiftychange['PriceChange'] = fiftychange['2019'] - fiftychange['1996']
fiftychange['PercentChange'] = (fiftychange['PriceChange'] / fiftychange['1996']) * 100
                
#sorting the dataframe
fiftysorted96 = fiftychange.sort_values(by=['1996'], ascending = False)  
fifty96_50 = fiftysorted96[:50]

fifty96percentsorted = fifty96_50.sort_values(by=['PercentChange'], ascending = True)
fifty96percentsorted = fifty96percentsorted.drop('RegionID', axis=1)
fifty96percentsorted = fifty96percentsorted.drop('SizeRank', axis=1)
#Not interested in columns '1997 - '2018'

#Dropping the list of years so that it's just 1996 and 2019
fifty_drop_list = []
for i in range (1997,2019):
    fifty_drop_list.append(str(i))
for i in fifty_drop_list:
    fifty96_19sorted = fifty96percentsorted.drop(i, axis=1)

#fifty96percentsorted
fifty96_19sorted.head()

,RegionName,State,Metro,CountyName,City_State,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2019,PriceChange,PercentChange
7646,South Barrington,IL,Chicago-Naperville-Elgin,Cook County,"South Barrington, IL",624587.5,6.105846e+05,6.303000e+05,6.592615e+05,7.086538e+05,...,7.755308e+05,7.581000e+05,7.987769e+05,8.393615e+05,8.259231e+05,8.121692e+05,7.516846e+05,781150.0,156562.5,25.066544
2977,Bellaire,TX,Houston-The Woodlands-Sugar Land,Harris County,"Bellaire, TX",617537.5,6.472462e+05,5.940846e+05,5.589385e+05,5.552923e+05,...,6.034615e+05,5.966077e+05,6.370231e+05,6.993000e+05,7.371615e+05,7.638000e+05,7.843692e+05,801250.0,183712.5,29.749206
7376,Westlake,TX,Dallas-Fort Worth-Arlington,Denton County,"Westlake, TX",1029950.0,1.039269e+06,1.054654e+06,1.082515e+06,1.105500e+06,...,1.252677e+06,1.224223e+06,1.246569e+06,1.338500e+06,1.452154e+06,1.575992e+06,1.658285e+06,1693175.0,663225.0,64.393903
4211,Winnetka,IL,Chicago-Naperville-Elgin,Cook County,"Winnetka, IL",609462.5,6.000692e+05,6.513385e+05,7.317308e+05,8.173154e+05,...,8.991000e+05,9.043231e+05,9.890615e+05,1.088377e+06,1.142931e+06,1.148838e+06,1.155308e+06,1116050.0,506587.5,83.120372
8227,Harding,NJ,New York-Newark-Jersey City,Morris County,"Harding, NJ",602937.5,6.115769e+05,6.250077e+05,6.825462e+05,7.748615e+05,...,1.048031e+06,1.007185e+06,1.039938e+06,1.180969e+06,1.138746e+06,1.168600e+06,1.249092e+06,1133625.0,530687.5,88.017000

### Cities with Highest Growth Since 1996

In [177]:
fifty50 = fiftychange.sort_values(by=['PercentChange'], ascending = False)
fifty50 = fifty50[:50]

#Dropping the list of years so that it's just 1996 and 2019
fifty50_drop_list = []
for i in range (1997,2019):
    fifty50_drop_list.append(str(i))
for i in fifty50_drop_list:
    fifty50sorted = fifty50.drop(i, axis=1)
    

fifty50sorted.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,City_State,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2019,PriceChange,PercentChange
12845,21129,Wainscott,NY,New York-Newark-Jersey City,Suffolk County,12846,"Wainscott, NY",383000.0,479515.384615,610384.615385,...,2.025415e+06,2.075177e+06,2.138146e+06,2.343362e+06,2.705431e+06,3.410346e+06,3.514100e+06,4020300.0,3637300.0,949.686684
12579,30203,Amagansett,NY,New York-Newark-Jersey City,Suffolk County,12580,"Amagansett, NY",318762.5,317761.538462,335584.615385,...,1.697723e+06,1.852231e+06,1.897777e+06,2.146915e+06,2.278685e+06,2.460792e+06,2.783831e+06,3318175.0,2999412.5,940.955257
10978,50037,Warriors Mark,PA,Huntingdon,Huntingdon County,10979,"Warriors Mark, PA",23675.0,29407.692308,44976.923077,...,1.744385e+05,1.717615e+05,1.695308e+05,1.708615e+05,1.740231e+05,1.780923e+05,1.887000e+05,200275.0,176600.0,745.934530
10993,55468,Crumpler,NC,NaN,Ashe County,10994,"Crumpler, NC",16175.0,16992.307692,18884.615385,...,1.123231e+05,1.162538e+05,1.128615e+05,1.094385e+05,1.129846e+05,1.143846e+05,1.127846e+05,133075.0,116900.0,722.720247
10214,36840,Bridgehampton,NY,New York-Newark-Jersey City,Suffolk County,10215,"Bridgehampton, NY",319237.5,336915.384615,385361.538462,...,1.560815e+06,1.608046e+06,1.583577e+06,1.778262e+06,1.891238e+06,2.001738e+06,2.298569e+06,2601325.0,2282087.5,714.855711

### US City Population Top 50

In [178]:
import pandas as pd
#uspop18 data starts from 2010 and ends with 2019

uspopraw = pd.read_csv('PEP_2018_PEPANNRES_with_ann.csv', encoding="Latin-1")
#population estimate from 2010 to 2018
states_list = pd.read_csv('states.txt', encoding="Latin-1")

#print(uspopraw.head())
#2018 population
uspop18 = pd.DataFrame()
uspop18 = uspopraw.iloc[1:,[2, -9,-8,-7,-6,-5,-4,-3,-2,-1]]
#should be up to -9 which will include 2010


uspop18.columns = ['city_state', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
# an initial sort revealed that the datatype for '2018' was not integer
uspop18['2018'] = pd.to_numeric(uspop18['2018'])
uspop18['2017'] = pd.to_numeric(uspop18['2017'])
uspop18['2016'] = pd.to_numeric(uspop18['2016'])
uspop18['2015'] = pd.to_numeric(uspop18['2015'])
uspop18['2014'] = pd.to_numeric(uspop18['2014'])
uspop18['2013'] = pd.to_numeric(uspop18['2013'])
uspop18['2012'] = pd.to_numeric(uspop18['2012'])
uspop18['2011'] = pd.to_numeric(uspop18['2011'])
uspop18['2010'] = pd.to_numeric(uspop18['2010'])

uspop18 = uspop18.sort_values(by=['2018'], ascending = False)

#data cleaning
uspop18['city_state'] = uspop18.city_state.str.title()
uspop18['city_state'] = uspop18.city_state.str.strip()
uspop18['city'], uspop18['state'] = uspop18.city_state.str.split(',').str
uspop18['city'] = uspop18['city'].str.title()
uspop18['city'] = uspop18['city'].str.strip()
uspop18['city'] = uspop18['city'].str.replace(' County Metro Government', '')
uspop18['city'] = uspop18['city'].str.replace(' Metropolitan Government', '')
uspop18['city'] = uspop18['city'].str.replace(' Borough', '')
uspop18['city'] = uspop18['city'].str.replace(' County', '')
uspop18['city'] = uspop18['city'].str.replace(' City', '')
uspop18['city'] = uspop18['city'].str.replace(' city', '')
uspop18['city'] = uspop18['city'].str.replace(' Town', '')
uspop18['city'] = uspop18['city'].str.replace(' town', '')
uspop18['city'] = uspop18['city'].str.replace(' Village', '')
uspop18['city'] = uspop18['city'].str.replace(' village', '')
uspop18['city'] = uspop18['city'].str.replace(r'\(.*\)','')



#Removes (Balance)
uspop18['city'] = uspop18['city'].str.replace('.', '')
uspop18['city'] = uspop18['city'].str.strip()
uspop18['state'] = uspop18['state'].str.strip()

#Remapping uspop18 so that the format would be matching the zillow_years in 'Pasadena, CA' format
states_list.State = states_list.State.str.title()
#without this above line, the result for DC would be nan, since one is District of Columbia, vs District Of Columbia
states_dic = states_list.set_index('State')['Abbreviation'].to_dict()
uspop18['state_abb'] = uspop18['state'].map(states_dic)
uspop18['city_state_cleaned'] = uspop18['city'] + ', ' + uspop18['state_abb']

#top50cities = uspop18[:51]

#new dataframe prepared for merging with zillow_years
uspop18merge = pd.DataFrame()
uspop18merge['2010'] = uspop18['2010']
uspop18merge['2011'] = uspop18['2011']
uspop18merge['2012'] = uspop18['2012']
uspop18merge['2013'] = uspop18['2013']
uspop18merge['2014'] = uspop18['2014']
uspop18merge['2015'] = uspop18['2015']
uspop18merge['2016'] = uspop18['2016']
uspop18merge['2017'] = uspop18['2017']
uspop18merge['2018'] = uspop18['2018']



uspop18merge['City_State'] = uspop18['city_state_cleaned']
#uspop18mergefinal = uspop18merge.sort_values(by=['2018'], ascending = False)
uspop18merge.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,City_State
11698,8190355,8272963,8348032,8398739,8437387,8468181,8475976,8438271,8398748,"New York, NY"
1443,3795370,3821136,3852532,3883916,3913260,3943215,3969262,3982002,3990456,"Los Angeles, CA"
3415,2697529,2708209,2719735,2726772,2728524,2726215,2718946,2713067,2705994,"Chicago, IL"
17040,2098446,2124143,2160086,2198280,2240982,2286630,2309752,2317445,2325502,"Houston, TX"
665,1449295,1470052,1499839,1527336,1556552,1584927,1613581,1634984,1660272,"Phoenix, AZ"

### Complete Reversed

In [51]:
#from fuzzywuzzy import fuzz
#
##Left- zillow_years
##Right- uspop18mergefinal
#
#def match_name(name, match_list, min_score=0):
##iterating through list names and returns best match (name2) for name
#    # -1 score incase we don't get any matches
#    max_score = -1
#    # Returning empty name for no match as well
#    max_name = ""
#    # Iternating over all names in the other
#    for matchname in match_list:
#        name = str(name)
#        matchname = str(matchname)
#        if matchname[-2:] == name[-2:]:
#            #Finding fuzzy match score
#            score = fuzz.ratio(name, matchname)
#            # Checking if we are above our threshold and have a better score
#            if (score > min_score) & (score > max_score):
#                max_name = matchname
#                max_score = score
#    return (max_name, max_score)
#    
#dict_list = []
#for name in uspop18mergefinal.City_State:
#    match = match_name(name, zillow_years.City_State, 60)
#    # New dict for storing data
#    dict_ = {}
#    dict_.update({"Name" : name})
#    dict_.update({"Match-Name" : match[0]})
#    dict_.update({"score" : match[1]})
#    dict_list.append(dict_)
#    
#merge_tablecompletehongreversed = pd.DataFrame(dict_list)
#
#
#

In [179]:
import pickle

#pickle_out = open('merge_tablecompletehongreversed.pickle', 'wb')
#pickle.dump(merge_tablecompletehongreversed, pickle_out)
#pickle_out.close()

pickle_in = open('merge_tablecompletehongreversed.pickle', 'rb')
merge_tablecompletehongreversed = pickle.load(pickle_in)

In [180]:
print(merge_tablecompletehongreversed.head())
#The right side is from population data, Left is zillow

        Match-Name             Name  score
0     New York, NY     New York, NY    100
1  Los Angeles, CA  Los Angeles, CA    100
2      Chicago, IL      Chicago, IL    100
3      Houston, TX      Houston, TX    100
4      Phoenix, AZ      Phoenix, AZ    100

### List matching for entire Zillow_year with uspop

In [181]:
#Taking the dataframe apart, removing - and /

merge_complete = merge_tablecompletehongreversed.copy()

slash = merge_complete[merge_complete['Name'].str.contains('/', na = False)]
dash = merge_complete[merge_complete['Name'].str.contains('-', na = False)]
saint = merge_complete[merge_complete['Name'].str.contains('St ', na = False)]

#realzing that nashville, TN didn't merge so coming back to edit this in
#nashvilleindex = merge_complete[merge_complete['Name'].str.contains('Nashville', na = False)]
nashville = merge_complete[merge_complete['Name'] == 'Nashville-Davidson, TN']

merge_complete = merge_complete.drop(slash.index.values, axis=0)
merge_complete = merge_complete.drop(dash.index.values, axis=0)
merge_complete = merge_complete.drop(saint.index.values, axis=0)
merge_complete = merge_complete[merge_complete['score'] >= 95]

#after some analysis, it seems like everything 97 and above is good except La Canana from 96

merge_complete = merge_complete.sort_values(by=['score'], ascending = False)
merge_complete.tail(20)
laca = merge_complete[merge_complete['Name'] == 'La Cañada Flintridge, CA']

#This is to get the index of 'La Canada Flintridge'
merge_complete.loc[1813,'score'] = 97
merge_complete.drop(merge_complete[merge_complete['score'] < 97].index, inplace= True)
#merge_complete.tail(20)
merge_complete.to_csv('mergecomplete.csv', index= False)

#cleaning up the saint
#dash[dash['score']>50]
saint = saint.sort_values(by=['score'], ascending = False)
#east petersberg is the only one with 89 that's not accurate 14559
saint.loc[14559, 'score'] = 88
saint = saint[saint['score'] > 88]


dash = dash.sort_values(by=['score'], ascending= False)
dash.loc[59, 'score'] = 95
dash.loc[8059, 'score'] = 85
# 59 Lexington-Fayette Urban, KY is the only low score which should match
#8059 Avon-By-The-Sea, NJ is scored 84, should bump up to 85 and remove everyting below 85
dash = dash[dash['score'] > 84]

merge_combined = pd.concat([merge_complete, slash, dash, saint, nashville])
merge_combined.drop(['score'], axis=1, inplace= True)
merge_combinedmap = merge_combined[['Name', 'Match-Name']]
#This flips the order of the Name and Match-Name so that population data(Name) is now on left

In [201]:
#mapping dictionary for uspop18merge

popfinalmerge = uspop18merge.copy()
uspoptozillowmap = merge_combinedmap.copy()

uspoptozillowmap = uspoptozillowmap.set_index('Name')['Match-Name'].to_dict()
#mapping pop18merge to zillow_years on 'City_State'
popfinalmerge['City_State'] = popfinalmerge['City_State'].map(uspoptozillowmap)

#12946 Detroit city, Michigan
#12947 Nashville-Davidson metropolitan government (balance), Tennessee
#zillpopsorted18.to_csv('zillpopfinal.csv', index=False)

#popmelted = pd.melt(popfinalmerge, 
#                    id_vars = ['City_State'], 
#                    var_name = 'Year', 
#                    value_name = 'Population'
#                   )


popfinalmerge.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,City_State
11698,8190355,8272963,8348032,8398739,8437387,8468181,8475976,8438271,8398748,"New York, NY"
1443,3795370,3821136,3852532,3883916,3913260,3943215,3969262,3982002,3990456,"Los Angeles, CA"
3415,2697529,2708209,2719735,2726772,2728524,2726215,2718946,2713067,2705994,"Chicago, IL"
17040,2098446,2124143,2160086,2198280,2240982,2286630,2309752,2317445,2325502,"Houston, TX"
665,1449295,1470052,1499839,1527336,1556552,1584927,1613581,1634984,1660272,"Phoenix, AZ"

### Merging Zillyear with population

In [210]:
zillyears = zillow_years.copy()
#zillyears = zillyears.drop('RegionID', axis=1)
#zillyears = zillyears.drop('RegionName', axis=1)
#zillyears = zillyears.drop('State', axis=1)
#zillyears.to_csv('zillyearsduplicate.csv', index=False)

zilldroplist = []
for i in range(1996,2010):
    zilldroplist.append(str(i))
zillyears.drop(zilldroplist, axis=1, inplace=True)
zillyears.drop('2019', axis=1, inplace=True)


uspoppremerge = uspop18merge.copy()
uspoppremerge.columns = ['2010_Population', '2011_Population', '2012_Population', '2013_Population', '2014_Population', '2015_Population', '2016_Population', '2017_Population', '2018_Population', 'City_State']
zillpopmerged = zillyears.merge(uspoppremerge, left_on = 'City_State', right_on = 'City_State')
zillpopmerged.shape

(8422, 25)

### Rental Data

In [220]:
zillowrental = pd.read_csv('City_Zri_AllHomesPlusMultifamilyRental.csv', encoding="Latin-1")
zillowrentsingle = pd.read_csv('City_Zri_SingleFamilyResidenceRental.csv', encoding="Latin-1")
zillowrentmulti = pd.read_csv('City_Zri_MultiFamilyResidenceRental.csv', encoding="Latin-1")

def initialClean(d):
    d['RegionName'] = d['RegionName'].str.title()
    d['RegionName'] = d['RegionName'].str.strip()
    d['RegionName'] = d['RegionName'].str.replace(' City', '')
    d['RegionName'] = d['RegionName'].str.replace(' Village', '')
    d['State'] = d['State'].str.strip()
    return d

zillowrental = initialClean(zillowrental)
zillowrentsingle = initialClean(zillowrentsingle)
zillowrentmulti = initialClean(zillowrentmulti)

#Since the data starts from Nov of 2010, need to condense the zillowyears later to match

zillowrentalyears = zillowrental.copy()
zillowrentsingleyears = zillowrentsingle.copy()
zillowrentmultiyears = zillowrentmulti.copy()

def converttoyears(d, oldd, suf):
    d = d.iloc[:, :6]
    d['City_State'] = d['RegionName'] + ', ' + d['State']
    d['2010' + suf] = oldd.loc[:,"2010-11":"2011-01"].mean(axis=1)
    for i in range(2011,2019):
        d[str(i) + suf] = oldd.loc[:, str(i) + '-01': str(i+1) + '-01'].mean(axis=1)
    #can't include 2019 because population data only goes to 2018
    d.drop(['RegionName'], axis=1, inplace= True)
    d.drop(['State'], axis=1, inplace= True)
    d.drop(['SizeRank'], axis=1, inplace= True)
    d.drop(['RegionID'], axis=1, inplace= True)
    d.drop(['Metro'], axis=1, inplace= True)
    d.drop(['CountyName'], axis=1, inplace= True)

    #d = d.iloc[:, 3:]
    #remove all the columns before 'City_State'
    return d

zillrentyears = converttoyears(zillowrentalyears, zillowrental, 'Y')

#in the end decided to just use rent years because there was more data and the numbers were very similar to the other two


#Merging in 
zillpoprentmerged = zillpopmerged.merge(zillrentyears, left_on = 'City_State', right_on = 'City_State')
zillpoprentmerged

,RegionID,RegionName,State,Metro,CountyName,SizeRank,City_State,2010,2011,2012,...,2018_Population,2010Y,2011Y,2012Y,2013Y,2014Y,2015Y,2016Y,2017Y,2018Y
0,6181,New York,NY,New York-Newark-Jersey City,Queens County,1,"New York, NY",447976.923077,438761.538462,433323.076923,...,8398748,1771.666667,1753.384615,1803.615385,1955.384615,2124.000000,2271.230769,2331.846154,2337.384615,2295.846154
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,"Los Angeles, CA",407030.769231,381092.307692,381561.538462,...,3990456,2190.333333,2185.076923,2185.000000,2242.692308,2331.384615,2522.692308,2687.000000,2798.307692,2883.153846
2,39051,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,"Houston, TX",121876.923077,117815.384615,116107.692308,...,2325502,1198.666667,1195.538462,1197.846154,1252.692308,1322.076923,1411.461538,1439.461538,1423.615385,1432.923077
3,17426,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,"Chicago, IL",192246.153846,167915.384615,159992.307692,...,2705994,1562.000000,1502.615385,1497.615385,1556.615385,1636.230769,1663.923077,1670.076923,1644.846154,1619.384615
4,6915,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,"San Antonio, TX",119623.076923,116723.076923,116446.153846,...,1532233,1049.666667,1021.538462,1051.692308,1084.692308,1142.923077,1211.846154,1239.923077,1265.538462,1277.230769
5,13271,Philadelphia,PA,Philadelphia-Camden-Wilmington,Philadelphia County,6,"Philadelphia, PA",113007.692308,106392.307692,101869.230769,...,1584138,1096.666667,1085.769231,1088.153846,1086.769231,1126.615385,1180.923077,1210.615385,1215.230769,1218.846154
6,40326,Phoenix,AZ,Phoenix-Mesa-Scottsdale,Maricopa County,7,"Phoenix, AZ",119953.846154,105915.384615,117500.000000,...,1660272,1078.666667,1051.769231,1047.538462,1088.538462,1112.076923,1177.692308,1231.461538,1274.000000,1307.384615
7,18959,Las Vegas,NV,Las Vegas-Henderson-Paradise,Clark County,8,"Las Vegas, NV",133223.076923,120423.076923,122715.384615,...,644644,1181.000000,1161.538462,1127.615385,1140.076923,1161.846154,1188.384615,1224.923077,1258.615385,1303.923077
8,54296,San Diego,CA,San Diego-Carlsbad,San Diego County,9,"San Diego, CA",405592.307692,380415.384615,384023.076923,...,1425976,2062.000000,2016.615385,2019.538462,2082.615385,2177.846154,2321.153846,2429.076923,2531.076923,2586.461538
9,38128,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,10,"Dallas, TX",106746.153846,100946.153846,98715.384615,...,1345047,1134.666667,1127.923077,1127.153846,1196.538462,1231.230769,1282.461538,1355.538462,1420.000000,1456.692308
10,10221,Austin,TX,Austin-Round Rock,Travis County,11,"Austin, TX",211738.461538,207076.923077,211523.076923,...,964254,1299.333333,1360.538462,1424.692308,1522.307692,1630.769231,1748.846154,1791.076923,1779.153846,1757.615385
11,33839,San Jose,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,12,"San Jose, CA",518176.923077,495684.615385,525084.615385,...,1030119,2376.666667,2337.615385,2403.538462,2520.153846,2724.538462,3142.769231,3338.846154,3347.615385,3440.384615
12,25290,Jacksonville,FL,Jacksonville,Duval County,13,"Jacksonville, FL",115853.846154,99130.769231,92300.000000,...,903889,1014.000000,1040.692308,1043.923077,1081.230769,1110.923077,1136.615385,1149.307692,1159.846154,1197.923077
13,32149,Indianapolis,IN,Indianapolis-Carmel-Anderson,Marion County,14,"Indianapolis, IN",95400.000000,91146.153846,87546.153846,...,867125,996.000000,973.230769,948.000000,995.692308,1046.384615,1062.307692,1075.000000,1084.846154,1107.461538
14,20330,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,15,"San Francisco, CA",704684.615385,668146.153846,715800.000000,...,883305,3208.000000,2958.692308,3036.769231,3290.538462,3736.461538,4336.384615,4493.000000,4315.846154,4254.076923
15,24043,Charlotte,NC,Charlotte-Concord-Gastonia,Mecklenburg County,16,"Charlotte, NC",143238.461538,133423.076923,130984.615385,...,872498,1028.333333,1056.230769,1110.384615,1150.846154,1180.384615,1233.692308,1280.461538,1321.769231,1357.692308
16,18172,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,17,"Fort Worth, TX",120376.923077,114338.461538,112769.230769,...,895008,1159.000000,1162.230769,1175.769231,1214.000000,1252.615385,1311.923077,1352.307692,1401.461538,1440.153846
17,7481,Tucson,AZ,Tucson,Pima County,18,"Tucson, AZ",144276.923077,125876.923077,124676.923077,...,545975,982.333333,992.000000,1015.000000,1023.692308,1014.076923,1032.153846,1047.615385,1099.846154,1142.692308
18,10920,Columbus,OH,Columbus,Franklin County,19,"Columbus, OH",108646.153846,98676.923077,92069.230769,...,892533,934.333333,952.538462,995.000000,984.692308,1020.076923,1111.923077,1124.076923,1142.615385,1181.692308
19,13121,Orlando,FL,Orlando-Kissimmee-Sanford,Orange County,21,"Orlando, FL",128646.153846,116992.307692,118707.692308,...,285713,1068.333333,1041.000000,1055.076923,1129.076923,1152.538462,1213.846154,1272.153846,1295.615385,1350.230769
20,17933,El Paso,TX,El Paso,El Paso County,22,"El Paso, TX",118046.153846,116146.153846,114500.000000,...,682669,1084.666667,1061.000000,1067.076923,1007.538462,1022.000000,1048.538462,1012.615385,993.076923,988.153846
21,11093,Denver,CO,Denver-Aurora-Lakewood,Denver County,23,"Denver, CO",212715.384615,208838.461538,221123.076923,...,716492,1317.666667,1352.461538,1392.615385,1524.000000,1685.230769,1867.000000,1969.692308,2002.615385,2065.230769
22,16037,Seattle,WA,Seattle-Tacoma-Bellevue,King County,24,"Seattle, WA",374523.076923,353153.846154,370376.923077,...,744955,1758.333333,1717.076923,1741.307692,1852.153846,2046.307692,2263.538462,2452.076923,2544.692308,2496.769231
23,44269,Boston,MA,Boston-Cambridge-Newton,Suffolk County,26,"Boston, MA",333669.230769,333507.692308,342615.384615,...,694583,1765.666667,1904.769231,2147.615385,2294.307692,2397.538462,2446.538462,2492.230769,2559.615385,2614.307692
24,41568,Washington,DC,Washington-Arlington-Alexandria,District of Columbia,27,"Washington, DC",354538.461538,353169.230769,370238.461538,...,702455,2209.000000,2314.615385,2369.000000,2449.769231,2451.307692,2484.615385,2550.307692,2619.153846,2552.769231
25,13373,Portland,OR,Portland-Vancouver-Hillsboro,Multnomah County,28,"Portland, OR",247838.461538,230307.692308,239146.153846,...,653115,1294.000000,1303.000000,1348.230769,1416.307692,1470.923077,1659.307692,1819.769231,1892.076923,1858.769231
26,20288,Sacramento,CA,Sacramento--Roseville--Arden-Arcade,Sacramento County,30,"Sacramento, CA",161361.538462,143515.384615,146623.076923,...,508529,1292.333333,1261.384615,1259.307692,1266.769231,1296.846154,1364.000000,1465.230769,1576.307692,1637.615385
27,3523,Baltimore,MD,Baltimore-Columbia-Towson,Baltimore City,31,"Baltimore, MD",108130.769231,86453.846154,74676.923077,...,602495,1189.333333,1214.615385,1214.846154,1238.307692,1267.230769,1314.076923,1323.846154,1294.692308,1281.307692
28,5976,Milwaukee,WI,Milwaukee-Waukesha-West Allis,Milwaukee County,32,"Milwaukee, WI",106200.000000,91769.230769,82000.000000,...,592025,NaN,NaN,915.300000,952.461538,927.230769,961.153846,998.461538,1006.692308,1037.692308
29,18203,Fresno,CA,Fresno,Fresno County,33,"Fresno, CA",152030.769231,134769.230769,133861.538462,...,530093,1254.333333,1181.384615,1144.000000,1149.307692,1161.076923,1191.769231,1218.000000,1259.692308,1305.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7120,16105,Tiki Island,TX,Houston-The Woodlands-Sugar Land,Galveston County,12831,"Tiki Island, TX",326546.153846,313415.384615,338553.846154,...,1068,2198.000000,2307.769231,2439.153846,2365.000000,2791.538462,2955.076923,3110.000000,3243.076923,3056.769231
7121,46703,New Berlin,IL,Springfield,Sangamon County,12833,"New Berlin, IL",103500.000000,107107.692308,112269.230769,...,1327,NaN,NaN,1178.600000,950.307692,950.307692,1068.846154,1163.076923,988.230769,1000.307692
7122,40639,Rose Hill,NC,NaN,Duplin County,12834,"Rose Hill, NC",68230.769231,60769.230769,63823.076923,...,1623,792.333333,787.769231,784.307692,774.538462,769.384615,757.384615,765.538462,785.307692,797.230769
7123,16970,Belleville,WI,Madison,Dane County,12836,"Belleville, WI",164730.769231,160300.000000,160692.307692,...,2450,NaN,NaN,1332.800000,1284.076923,1378.076923,1443.923077,1374.461538,1343.692308,1352.615385
7124,23082,Brackettville,TX,NaN,Kinney County,12837,"Brackettville, TX",42218.181818,42038.461538,41984.615385,...,1750,859.000000,846.000000,869.923077,899.153846,920.153846,990.692308,998.923077,999.769231,1019.076923
7125,30928,Clear Lake,IN,Angola,Steuben County,12838,"Clear Lake, IN",429146.153846,429323.076923,430946.153846,...,345,1309.333333,1145.230769,951.307692,968.769231,1119.846154,1393.076923,1557.461538,1486.307692,1477.076923
7126,46096,Ladd,IL,Ottawa-Peru,Bureau County,12841,"Ladd, IL",86076.923077,77061.538462,77261.538462,...,1209,1261.333333,1232.307692,1213.615385,1212.769231,1197.307692,1129.846154,1105.846154,1062.615385,1002.846154
7127,15478,Harristown,IL,Decatur,Macon County,12842,"Harristown, IL",122684.615385,89961.538462,80053.846154,...,1301,NaN,NaN,1132.200000,1036.230769,977.538462,995.076923,966.692308,971.384615,1001.307692
7128,53077,Luxemburg,WI,Green Bay,Kewaunee County,12843,"Luxemburg, WI",152015.384615,145384.615385,147476.923077,...,2553,846.666667,970.461538,1009.000000,1023.538462,957.076923,1062.384615,1089.000000,1087.230769,942.846154
7129,19605,Newburg,WI,Milwaukee-Waukesha-West Allis,Washington County,12844,"Newburg, WI",169569.230769,154830.769231,152315.384615,...,1212,NaN,NaN,1281.000000,1131.923077,1228.307692,1365.769231,1320.769231,1373.615385,1270.153846
7130,38069,Crescent,OK,Oklahoma City,Logan County,12847,"Crescent, OK",50084.615385,47600.000000,49215.384615,...,1532,694.000000,692.153846,756.384615,759.000000,780.384615,796.384615,778.153846,746.769231,758.307692
7131,12140,Jones Creek,TX,Houston-The Woodlands-Sugar Land,Brazoria County,12848,"Jones Creek, TX",103607.692308,103215.384615,95692.307692,...,2106,1185.000000,1185.615385,1222.846154,1203.846154,1231.769231,1418.230769,1520.076923,1526.846154,1541.769231
7132,52713,Josephine,TX,Dallas-Fort Worth-Arlington,Collin County,12852,"Josephine, TX",138230.769231,134492.307692,128823.076923,...,1692,1146.000000,1205.076923,1226.615385,1284.846154,1325.692308,1387.230769,1501.230769,1520.230769,1536.769231
7133,399097,Limestone,IL,Kankakee,Kankakee County,12857,"Limestone, IL",124030.769231,118892.307692,135846.153846,...,1528,1359.666667,1361.923077,1422.230769,1303.846154,1257.461538,1236.923077,1194.538462,1217.769231,1205.307692
7134,46402,Maple Park,IL,Chicago-Naperville-Elgin,Kane County,12861,"Maple Park, IL",182284.615385,163576.923077,152646.153846,...,1337,1488.333333,1484.230769,1439.153846,1457.307692,1524.692308,1531.153846,1539.461538,1496.307692,1492.615385
7135,39232,Key Colony Beach,FL,Key West,Monroe County,12869,"Key Colony Beach, FL",369223.076923,345915.384615,354153.846154,...,814,NaN,NaN,2248.600000,2489.846154,2810.538462,3410.615385,3069.692308,3260.615385,3426.846154
7136,35349,Fraser,CO,NaN,Grand County,12870,"Fraser, CO",204000.000000,201569.230769,190607.692308,...,1302,NaN,NaN,NaN,NaN,NaN,1635.000000,1639.538462,1670.846154,1739.461538
7137,52545,Holley,NY,Rochester,Orleans County,12871,"Holley, NY",86646.153846,86053.846154,85338.461538,...,1690,1238.666667,1264.230769,1260.153846,1273.000000,1240.615385,1321.307692,1237.615385,1186.923077,1214.615385
7138,25746,Maple Plain,MN,Minneapolis-St. Paul-Bloomington,Hennepin County,12873,"Maple Plain, MN",181892.307692,158630.769231,167692.307692,...,1817,1455.333333,1390.230769,1424.384615,1486.846154,1494.076923,1528.307692,1558.846154,1654.692308,1711.769231
7139,21737,Cambridge,WI,Madison,Dane County,12876,"Cambridge, WI",159623.076923,157492.307692,149615.384615,...,1529,NaN,NaN,1260.400000,1221.230769,1259.769231,1319.230769,1306.230769,1355.615385,1332.230769
7140,9100,Linn Valley,KS,Kansas City,Linn County,12886,"Linn Valley, KS",86076.923077,85515.384615,84292.307692,...,863,974.666667,896.000000,845.000000,958.000000,871.615385,892.846154,918.384615,863.538462,838.000000
7141,13442,Ransom Canyon,TX,Lubbock,Lubbock County,12887,"Ransom Canyon, TX",178084.615385,179930.769231,180923.076923,...,1113,1518.333333,1453.923077,1523.615385,1628.538462,1589.384615,1713.769231,1778.000000,1708.000000,1668.692308
7142,15637,Reedsville,WI,Manitowoc,Manitowoc County,12888,"Reedsville, WI",NaN,NaN,NaN,...,1151,758.333333,827.153846,889.615385,860.307692,844.692308,888.153846,883.076923,945.538462,980.230769
7143,16160,Smethport,PA,Bradford,McKean County,12890,"Smethport, PA",69530.769231,65530.769231,69692.307692,...,1543,1052.333333,1014.384615,1015.230769,1060.384615,980.307692,1017.230769,1013.307692,934.230769,912.923077
7144,22166,Haskins,OH,Toledo,Wood County,12891,"Haskins, OH",138592.307692,140200.000000,142838.461538,...,1235,1200.000000,1195.307692,1099.615385,1321.076923,1227.538462,1233.692308,1280.384615,1365.153846,1407.461538
7145,37608,Brooklyn,WI,Madison,Dane County,12892,"Brooklyn, WI",162384.615385,153800.000000,151969.230769,...,1466,NaN,NaN,1268.100000,1284.461538,1304.615385,1360.692308,1302.923077,1346.538462,1330.000000
7146,47189,Ponder,TX,Dallas-Fort Worth-Arlington,Denton County,12894,"Ponder, TX",148769.230769,130838.461538,127523.076923,...,2371,1287.333333,1238.230769,1260.461538,1301.076923,1365.230769,1427.692308,1469.230769,1524.384615,1552.461538
7147,52665,Jamaica Beach,TX,Houston-The Woodlands-Sugar Land,Galveston County,12895,"Jamaica Beach, TX",199615.384615,195346.153846,204415.384615,...,1079,1410.333333,1489.846154,1463.000000,1376.384615,1523.538462,1684.153846,1758.923077,1875.769231,1974.076923
7148,53175,Marshall,WI,Madison,Dane County,12897,"Marshall, WI",168753.846154,161138.461538,161569.230769,...,3956,NaN,NaN,1235.200000,1159.692308,1193.461538,1233.307692,1287.076923,1322.538462,1305.230769
7149,255141,Bolivar,WV,Washington-Arlington-Alexandria,Jefferson County,12901,"Bolivar, WV",151300.000000,148976.923077,146223.076923,...,1026,1224.666667,1252.769231,1234.153846,1301.692308,1300.153846,1325.538462,1265.846154,1243.230769,1217.461538